:host {
  .dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    height: 400px;
    transition: background-color 0.3s;
  }

  .drop-active {
    border-color: #aaa;
  }

  .drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
  }
}
